nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.2.5rem;
    height: 64px;
    background-color: #FF601D;
}
.nav-logo {
    font-weight:700;
    color: #ffffff;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

.nav-links a.active {
    text-decoration: underline;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-rechts {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-rechts .material-symbols-outlined {
    color:#ffffff;
    cursor: pointer;
}
