@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search');

*{
    margin: 0;
    padding: 0;
    box sizing: border-box;
}
   
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f5f5f5;
    color: #1a1a1a;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.2rem;
    height: 64px;
}
.nav links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav links a {
    text decoration: underline;
}

