<%- include('../partials/header') %>

<main class="favorites-pages">

<section class="favorites-hero">

    <div class="favorites-hero-content">
        <h1>Favorieten</h1>
        <p>Hier kun je al je favoriete vacatures terugzien!</p>
    </div>

    <img class="favorites-hero-wave" src="/static/images/gradient-wave.png"  alt="Foto van de wave in de header">

</section>

<section class="favorites-section">
    <div id="favoritesContainer" class="favorites-grid"></div>
</section>


</main>

<%- include('../partials/footer') %>
