<%- include('../partials/header') %>
    <main class="favorites-pages">

        <section class="favorites-hero">
            <h1>Favorieten</h1>
            <p>Hier kun je al je favoriete vacatures terug zien!</p>
        </section>

        <section class="favorites-section">
            <div id="vacaturesCards" class="favorites-grid"> </div>
        </section>
        
    </main>
    <%- include('../partials/footer') %>