<%- include('../partials/header') %>
<main class="favorites-page">

  <section class="hero">
    <h1>Dashboard</h1>
    <p>Hier kun je al je opgeslagen en favoriete vacatures terug zien!</p>
  </section>

  <section class="favorites-section">

    <div class="toggle-container">
      <div class="toggle">
        <button id="btn-opgeslagen" class="toggle-btn actief">Opgeslagen</button>
        <button id="btn-favorieten" class="toggle-btn">Favorieten</button>
      </div>
    </div>

  </section>

</main>

<script src="/js/favorite.js"></script>
<%- include('../partials/footer') %>