<%- include("../partials/header") %>
<main class="home-page">

  <section class="hero">
    <div class="hero-content">
      <h1>Jouw nieuwe baan begint hier!</h1>
      <p>Met Collego match je eenvoudig met bedrijven die aansluiten bij jouw interesses, vaardigheden en ambities.</p>
      <div class="hero-buttons">
        <a href="/matching" class="hero-button-primary">Begin te matchen</a>
        <a href="/create-profile" class="hero-button-secondary">Maak een profiel</a>
      </div>
    </div>
  </section>

</main>
<%- include("../partials/footer") %>